<div class="container">
    <h1 class="m-5">Admin Homepage</h1>

    <a href="/admin/adminProductManagement">Product Management</a>
    <a href="/admin/adminUserManagement">User Management</a>
    <a href="/admin/adminOfferManagement">Offer Management</a>
    <a href="/admin/adminCategoryManagement">Category Management</a>
    <a href="">Download Report</a>
    <a href="">Logout</a>
</div>