<h1 class="m-5">Admin Homepage</h1>

<a href="">Product Management</a>
<a href="">User Management</a>
<a href="">Offer Management</a>
<a href="">Category Management</a>
<a href=""></a>
<a href=""></a>