<div class="container">
  {{! <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-bottom">
        <ul class="nav col-12 col-md-auto justify-content-center mb-md-0" style="width: 100%;">
            <li>
                <a href="/admin" class="nav-link px-2 link-dark"><span style="font-size: 48px;">Shop</span><span
                        style="font-size: 72px;">.</span><span style="font-size: 48px;">admin</span></a>
            </li>
        </ul>
    </header> }}
  <nav class="navbar navbar-expand-lg border-bottom">
    <div class="container-fluid justify-content-end pe-0">
      <a class="navbar-brand fs-1 me-0" href="/admin">Shop.admin</a>
    </div>
  </nav>
</div>