<div class="container">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
        <span class="mb-3 mb-md-0">© 2022 Shop. Inc</span>
    </footer>
</div>