<div class="container">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top">
        <a href="https://github.com/dheerajstvpm" target="_blank" class="text-decoration-none text-dark"><span>© 2022 Shop. Inc</span></a>
    </footer>
</div>

