<div class="container">
    <nav class="navbar navbar-expand-lg border-bottom">
        <div class="container-fluid p-0">
            <a class="navbar-brand fs-1" href="/">Shop.</a>
            {{#if loginName}}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {{/if}}
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    {{#if loginName}}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/cart/"><button class="dropdown-item"
                                type="button">Cart</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wishlist/"><button class="dropdown-item"
                                type="button">Wishlist</button></a>
                    </li>
                    <li class="nav-item dropdown">

                        {{!-- <div class="col-md-3 text-end" style="width: 30%;"> --}}
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{loginName}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg-end">
                                <li><a class="dropdown-item" href="/order/">Orders</a></li>
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                            {{!--
                        </div> --}}
                    </li>
                    {{else}}
                    <li class="nav-item">
                        {{!-- <div class="col-md-3 text-end" style="width: 30%;"> --}}
                            <a href="/login"><button type="button" class="btn btn-outline-dark me-2">Login</button></a>
                            <a href="/signup"><button type="button" class="btn btn-dark">Sign up</button></a>
                            {{!--
                        </div> --}}
                    </li>
                    {{/if}}
                    {{!-- {{#if loginName}}
                    <div class="col-md-3 text-end" style="width: 30%;">
                        <a href="#"></a><button class="btn btn-outline-dark me-2 dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">{{loginName}}
                        </button></a>
                        <ul class="dropdown-menu">
                            <li><a href="/order/" class="text-decoration-none"><button
                                        class="dropdown-item border-bottom" type="button">Orders</button></a></li>
                            <li><a href="#" class="text-decoration-none"><button class="dropdown-item border-bottom"
                                        type="button">Profile</button></a></li>
                            <li><a href="/logout" class="text-decoration-none"><button class="dropdown-item"
                                        type="button">Logout</button></a></li>
                        </ul>
                    </div>
                    {{else}}
                    <div class="col-md-3 text-end" style="width: 30%;">
                        <a href="/login"><button type="button" class="btn btn-outline-dark me-2">Login</button></a>
                        <a href="/signup"><button type="button" class="btn btn-dark">Sign up</button></a>
                    </div>
                    {{/if}} --}}

                </ul>
            </div>
        </div>
    </nav>

</div>