/* * {
    background-color: #F0EEE5;
    color: #543A00;
} */

/* body {
    padding: 0;
    margin: 0;
    height: 100%;
} */

.minHeight {
    /* min-height: 71.8vh; */
    min-height: 64.4vh;
}


.zoom-img {
    overflow: hidden;
}

.zoom-img img {
    transition: all 1.0s ease;
}

.zoom-img:hover img {
    transform: scale(1.5);
}