<div class="container minHeight">
    <div class="d-flex justify-content-center my-3">
        <h1 class="mt-5 text-center">Change your Password</h1>
    </div>

    <div class="container-fluid d-flex justify-content-center">
        <form class="col-md-12" action="/changePassword" method="post">

            <div class="mb-3 d-flex justify-content-center">
                <div class="col-md-4"></div>
                <input type="password" name="password" class="form-control text-center" id="exampleInputPassword"
                    placeholder="New password">
                <div class="col-md-4 text-start ps-2 pt-2 text-danger">{{pwdMsg}}</div>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    (Password must contain atleast eight characters, one small letter, one capital letter, one number
                    and one special character)
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <div class="col-md-4"></div>
                <input type="password" name="confirmPassword" class="form-control text-center"
                    id="exampleInputConfirmPassword" placeholder="Confirm Password">
                <div class="col-md-4 text-start ps-2 pt-2 text-danger">{{confirmPwdMsg}}</div>
            </div>
            <div class='mb-3 d-flex justify-content-center'>
                <button type="submit" class="btn btn-dark">Update</button>
            </div>
        </form>
    </div>
</div>